body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: url(https://img.freepik.com/premium-vector/poker-table-background-green-color_47243-1068.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699056000&semt=ais);
background-size: cover;
text-align: center;
color: white;
font-weight: bold;
}

h1 {
  color:goldenrod;
}

#message-el {
font-style: italic;

}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding: 7px 0 7px 0;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 2px 0 2px 0;
}

.card {
  background-color: white;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid #333;
}

#cards-el {
  font-size: 18px;
  margin: 20px 0;
}
